<mat-toolbar>
  <span>New Task</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<mat-card>
<form [formGroup]="service.form" class="normal-form">
   <div class="controlers-container">
        <mat-form-field>
            <input formControlName="taskDescription" matInput placeholder="Task description*">
            <mat-error>This Field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
                        <mat-select formControlName="taskType" matInput placeholder="Choose the type*"  >
                            <mat-option *ngFor="let key of taskTypeOptions" [value]="key" >{{key}}</mat-option>
                         </mat-select>
        </mat-form-field>
        
        <mat-form-field>
                         <input formControlName="dueDate" matInput placeholder="Choose the Due date" matInput [matDatepicker]="picker">
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="status" matInput placeholder="Status*"  >
            <mat-option *ngFor="let key of statusOptions" [value]="key" >{{key}}</mat-option>
         </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid" (click)="onSubmit(service.form.value)">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          
        </div>
    </div>
</form>
</mat-card>
