<div class="container1">
  <mat-toolbar style="background-color:#b3e6ff;justify-content: space-around;">
      <span class="fill-remaining-space"></span>
      <span>List Of Completed Tasks</span>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
</div>
<mat-card style="padding-left:10%;padding-right:10%;position:top; justify-content: space-around;">
<div class="inl">
      <mat-form-field style="width:100%">
        <mat-label >Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
      </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="taskDescription">
      <mat-header-cell *matHeaderCellDef >Task Description</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.taskDescription}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="taskType">
      <mat-header-cell *matHeaderCellDef >Type Of Task</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.taskType}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef >Date Of Creation</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdDate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dueDate">
      <mat-header-cell *matHeaderCellDef >Due Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dueDate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef >Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
</mat-card>
